@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  cursor: url('assets/cursors/default.png'), auto;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
  gap: 30px;
  overflow-wrap: break-word;
  transition: scale 0.15s ease-in-out;
}

@media (max-width: 768px) {
  main {
    width: 85vw;
  }
}

main>div {
  width: 100%;
  transition: scale 0.15s ease-in-out;
}

main>div:has(input:hover, input:focus) {
  scale: 1.1;
}

h1 {
  line-height: 1;
  font-size: 45px;
  color: white;
  margin-bottom: 18px;
  width: 100%;
}

h1.hinu {
  color: pink;
}

.caret {
  display: inline;
  line-height: 0;
  animation: blink 1s infinite;
}

@keyframes blink {

  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

.input-container {
  position: relative;
  width: 100%;
  border-radius: 15px;
}

input[type="text"] {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  padding: 30px 55px 30px 20px;
  width: 100%;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  outline: none;
  margin-bottom: 5px;
  cursor: url('assets/cursors/text.png'), text;
}

input[type="text"]:placeholder {
  color: rgb(155, 155, 155);
  font-weight: 500;
}

input[type="text"]::selection {
  background-color: white;
  color: black;
}

input[type="text"]:not(:placeholder-shown)~button {
  display: flex;
}

p {
  font-family: monospace;
  color: rgb(155, 155, 155);
  text-align: center;
  font-size: clamp(12px, 2vw, 15px);
  will-change: transform;
}

p.shake {
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }
}

button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 50%;
  cursor: url('assets/cursors/pointer.png'), pointer;
  -webkit-tap-highlight-color: transparent;
}

button img {
  height: 23px;
  width: 23px;
  border-radius: inherit;
  pointer-events: none;
}

.cat {
  height: 200px;
  width: 200px;
  width: fit-content;
  cursor: url('assets/cursors/pointer.png'), pointer;
  -webkit-tap-highlight-color: pink;
}

.cat img {
  height: 200px;
  width: 200px;
  outline: 2px solid white;
  opacity: 0;
  transition: opacity 0.3s;
  object-fit: cover;
  pointer-events: none;
}